<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
    <key>UIAppFonts</key>
    <array>
        <string>FrutigerLTPro-Black.ttf</string>
        <string>FrutigerLTPro-BlackCn.ttf</string>
        <string>FrutigerLTPro-BlackCnIta.ttf</string>
        <string>FrutigerLTPro-BlackItalic.ttf</string>
        <string>FrutigerLTPro-Bold.ttf</string>
        <string>FrutigerLTPro-BoldCn.ttf</string>
        <string>FrutigerLTPro-BoldCnIta.ttf</string>
        <string>FrutigerLTPro-BoldItalic.ttf</string>
        <string>FrutigerLTPro-Condensed.ttf</string>
        <string>FrutigerLTPro-CondensedIta.ttf</string>
        <string>FrutigerLTPro-ExtraBlackCn.ttf</string>
        <string>FrutigerLTPro-ExtraBlkCnIta.ttf</string>
        <string>FrutigerLTPro-Italic.ttf</string>
        <string>FrutigerLTPro-Light.ttf</string>
        <string>FrutigerLTPro-LightCn.ttf</string>
        <string>FrutigerLTPro-LightCnIta.ttf</string>
        <string>FrutigerLTPro-LightItalic.ttf</string>
        <string>FrutigerLTPro-Roman.ttf</string>
        <string>FrutigerLTPro-UltraBlack.ttf</string>
    </array>
</dict>
</plist>
